.filters {
    margin-top: 30px;
    ul {
        list-style-type: none;
    }
    .filter-group {
        h5 {
            padding: 10px 0;
        }
        ul {
            margin: 0;
        }
        li {
            padding-bottom: 10px;
        }
        .filter {
            margin-right: 10px;
        }
    } 
}
.selected-filters {
    color: $purple;;
    font-weight: bold;
    padding: 20px 0;

    &__item {
        background-color: $purple;;
        color: $white;
        cursor: pointer;
        display: inline-block;
        padding: 10px;
        margin: 10px 20px 0 0;

        .icon {
            margin: 0 10px;
        }
    }

}

.sort-by {
    font-weight: bold;
    margin: 20px 0;
    label {
        padding-right: 20px;
        white-space: nowrap;
        margin: 0;
        line-height: 35px;;
    }
    .custom-select {
        background: none;
    }
}

.search {
    label {
        font-weight: bold;
    }
    input {
        margin-right: 20px;
    }
}