// Components
@import "./variables";
@import "./components/character-card";
@import "./components/filters";
@import "./components/program";

body {
    color: $grey2;
    background-color: $grey1;
}

header {
    text-align: left;
}